$border-radius: 2px;
$box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.3);
$transition: all 0.4s ease-in-out;

// SCREEN SIZES
$tablet: 600px;
$smLaptop: 1024px;
$laptop: 1280px;
$lgLaptop: 1300px;
$desktop: 1600px;
