@import '../../../sass/App.scss';
.nav {
  background: $primary;
  color: $white;
  font-size: 0.9rem;
  font-weight: 300;
  min-height: 2rem;
  padding: 1rem 0;
  text-transform: capitalize;

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__logo {
    padding: 0.5rem 1rem;

    @include tablet {
      margin-right: auto;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
    .nav__link {
      color: $white;
      text-decoration: none;
      padding: 0.5rem 1rem;
      transition: $transition;

      &:hover {
        color: $secondary;
      }
    }

    .btn--primary {
      background: $secondary;
      border-radius: 2px;
      color: $white;
      padding: 0.5rem 1rem;

      @include tablet {
        padding: 0.5rem 2rem;
      }
    }
  }
}
