@import '../../../sass/App.scss';
.nav {
  background: $primary;
  color: $white;
  font-size: 0.9rem;
  font-weight: 300;
  min-height: 2rem;
  padding: 1rem 0;
  text-transform: capitalize;

  display: flex;
  align-items: center;

  &__container {
    display: flex;
    width: 100%;
  }

  &__logo {
    margin-right: auto;
  }

  &__links {
    .nav__link {
      color: $white;
      text-decoration: none;
      padding: 0.5rem 1rem;
      transition: $transition;

      &:hover {
        color: $secondary;
      }
    }

    .btn--primary {
      background: $secondary;
      border-radius: 2px;
      color: $white;
      padding: 7px 30px;
    }
  }
}
